<html>
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <meta name="x-apple-disable-message-reformatting">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="telephone=no" name="format-detection">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:500,800&display=swap&subset=cyrillic-ext" rel="stylesheet">
</head>
<body style="text-align: center; background-color: #fff; padding: 2rem;">
    <container style="display: flex; flex-direction: column; align-items: center; font-family: 'Montserrat'; background-color: #fff; align-self: center; align-content: center;">
        <img style="width: 10rem;" src="https://assets.website-files.com/62d80c12020f3f06727964a0/62de47019e2173b2491b1e5e_The%20Chartistt%20Logo-p-500.jpg" alt="Chartistt Journal Logo" />
        <h1 style="color: #000; margin: 1rem 1rem;">Welcome to Chartistt Journal!</h1>
        <h1 style="color: #001AFF; padding: 20px 40px; border-radius: 4rem; font-size: 1.2rem;">
            Your journey begins here.
        </h1>
        <p style="margin: 1rem 1rem; text-align: center; color: #555;">Thank you for joining Chartistt Journal. You are now part of our community of users who share their thoughts, ideas, and experiences through the power of words and charts.</p>
        <p style="margin: 1rem 1rem; text-align: center; color: #555;">Get started by exploring, creating, and sharing your stories and insights. We can't wait to see what you'll achieve with Chartistt Journal!</p>
        <div style="font-size: 1rem;">
            <a style="color: #001AFF; font-weight: bold;">FAQ's | </a>
            <a style="color: #001AFF; font-weight: bold;">Terms & Conditions | </a>
            <a style="color: #001AFF; font-weight: bold;">Contact Us</a>
        </div>
    </container>
</body>
</html>
